.persian-date-picker {
  position: relative;
}

.persian-date-picker .rmdp-container {
  z-index: 1000;
}

.rmdp-input {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
 
}
.rmdp-ep-arrow {
  left: 100px !important;
}
